<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코딩몽 - 간편한 웹사이트 제작 툴</title>
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"> -->
    <script defer src="/js/main.js"></script>
</head>
<body>
    <header>
        <a href="/" class="logo">
            <img src="/images/logo.png" alt="CODING MONG">
        </a>
        <div class="menus">
            <a class="menu guide" href="/guide">이용가이드</a>
            <a class="menu menu1" href="/temporary1">임시 메뉴1</a>
            <a class="menu menu2" href="/temporary2">임시 메뉴2</a>
            <a class="menu menu3" href="/temporary3">임시 메뉴3</a>
        </div>
    </header>

    <div class="wrapper">
        <p>
            <span class="text">
                고퀄리티 웹사이트 제작,<br/>
                코딩할 필요 없이 코딩몽에게 맡기세요 ! 
            </span>
        </p>
        <button class="go_create_web" onclick="location.href='/create_web'">
            <span class="text">바로 웹사이트 제작하러 가기</span>
            <span class="material-symbols-outlined go_icon">
                arrow_forward
            </span>
        </button>
        <h3>
            <span class="text">
                #1&nbsp;단&nbsp;<span class="color_purple">10분</span>이면 내가 원하는 동적 웹사이트를 노코드로 빠르게 제작할 수 있습니다.&nbsp;
                <span class="material-symbols-outlined plus_icon">
                    add_circle
                </span>
            </span>
            <div class="hidden_text">
                직접 코딩할 경우 해야 하는 복잡하고 어려운 작업을 코딩몽 웹사이트 제작 툴로 직관적으로 작업할 수 있도록 단순화했기 때문에
                코딩몽으로 작업할 경우 작업 속도가 매우 빠릅니다. 
            </div><br/>
            <span class="text">
                #2&nbsp;직관적이고 이해하기 쉬운 인터페이스로 웹사이트를&nbsp;<span class="color_purple">쉽게</span>&nbsp;제작할 수 있습니다.&nbsp;
                <span class="material-symbols-outlined plus_icon">
                    add_circle
                </span>
            </span>
            <div class="hidden_text">
                단언컨데 코딩몽은 가장 직관적이며 이해하기 쉬운 이용자 친화적 인터페이스 환경을 제공한다고 자부합니다.
            </div><br/>
            <span class="text">
                #3&nbsp;내가 원하는 풍요로운&nbsp;<span class="color_purple">동적 기능</span>을 가진 웹사이트를 코딩 없이 제작할 수 있습니다.&nbsp;
                <span class="material-symbols-outlined plus_icon">
                    add_circle
                </span>
            </span>
            <div class="hidden_text">
                코딩몽은 웹사이트의 구체적인 동적 기능들(ex : 버튼 클릭 이벤트)을 매우 다양하게 지원합니다. 
            </div><br/>
            <span class="text">
                #4&nbsp;다양한 디자인 툴을 제공하므로 웹사이트를 내가 원하는 방식대로&nbsp;<span class="color_purple">다채롭게</span>&nbsp;꾸밀 수 있습니다.&nbsp;
                <span class="material-symbols-outlined plus_icon">
                    add_circle
                </span>
            </span>
            <div class="hidden_text">   
                코딩몽은 비율(%) 배치 방식을 사용해 웹사이트의 세밀한 디자인 및 커스터마이징이 가능합니다. 
            </div><br/>
        </h3>
    </div>
</body>
</html>